*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
code/backups/resources-img-and-vid/restore_config.json filter=lfs diff=lfs merge=lfs -text
code/backups/resources-img-and-vid/Embedded_at_8079 filter=lfs diff=lfs merge=lfs -text
code/backups/resources-img-and-vid/backup_config.json filter=lfs diff=lfs merge=lfs -text
